body{
    font-family: 'Inter', sans-serif;
    background-color: white
}
h1 {
    text-align: center;
    color: black
}
h1.title {
    border: black solid 4px;
    width: 20rem;
    margin: 0 auto;
    border-radius: 3rem;
    padding: 1rem;
    background-color: white;
}
h1.title:hover {
    background-color: #104AC6;
    color: white;
    border: white 4px solid;
    opacity: 0.9;
}
nav ul {
    list-style-type:none;
    padding: 0;
    text-align: center;    
    margin-top: 0.2rem;
}
nav li {
    width: 5rem;
    text-align: center;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin: 0.1rem 1rem;
    color: black
    display: inline-block;
}
nav a {
    display: block;
    text-decoration: none;
    
}
nav a:hover{
    color: #DBCF5F;
    text-decoration: underline;
}
a {
    text-decoration: none;
}
.main{
    width: 60rem;
    border: black 0.2rem solid;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
}
.main-contact {
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 5rem;
    flex-basis: 60%;
}
.main-block {
    width: 60rem;
    border: black 0.2rem solid;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 4rem;
    text-justify:auto;
}
p {
    margin: 2rem;
}

.main-picture {
    width: 20rem;
    border-radius: 2rem;
    margin: 2rem;
    flex-basis: 40%;
}
.main-picture-contact {
    width: 20rem;
    border-radius: 2rem;
    margin: 5rem;
    flex-basis: 40%;
}
.main-picture:hover {
    opacity: 0.5;
}
.main-description {
    font-size: 1.8rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
}
.main-description-podcast {
    font-size: 1.8rem;
    margin: 8rem;
    flex-basis: 60%;
}
.social {
    margin: 0 auto;
    text-align: center;
    margin: 2rem;
}
.social i {
    margin: 2rem;
    font-size: 3rem;
    background-color: white;
}
label {
    display: block;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}
textarea {
    height: 8rem;
    border: #104AC6 0.2rem solid;
    border-radius: 2rem;
    padding: 0.3rem 0.8rem;
}
button {
    margin-right: 0;
    background-color: #104AC6;
    border-radius: 2rem;
    font-size: 1rem;
    border: white 0.1rem solid;
    padding: 0.3rem 0.8rem;
    color: white;
    margin-top: 0.8rem;
}
button:hover {
    background-color: white;
    border: #104AC6 0.1rem solid;
    margin-right: 0;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    color: #104AC6
}
input {
    border: #104AC6 0.2rem solid;
    border-radius: 2rem;
    padding: 0.3rem 0.8rem;
}
fieldset {
    border: none;
}
legend {
    font-size: bold;
    font-weight: 2rem;
}

